# Output de classe do Eclipse
/bin/*

# Arquivos de configuração do Eclipse
/.settings/*
*.classpath
*.project
# Meta dados do gradle
.gradle/*
# Meta dados do IntelliJ
*/.idea/*
# Output de classes do Gradle
/build/*

# Output de classes do IntelliJ
/out/*
/target/*

